@import 'mixins/_mixins.scss';

@font-face {
	font-family: "Commodus";
	src: url("../font/CommodusRegular.otf") format("truetype");
}

body {
	padding: 0;
	margin: 0;
	background-color: black;
}

h1 {
	font-size: 100px;
	color: white;
	font-family: "Commodus";
	font-weight: 100;
}

.js {

	// ANIMAÇÃO DA COMPOSIÇÃO 1
	.comp-animacao {
		opacity: 0;
		transform: translate3D(-600px, 0px, 0px);
	}
	.comp-animacao-init {
		opacity: 1;
		transform: translate3D(0px, 0px, 0px);
		transition: 10s all ease;
	}

	.comp-text-animacao {
		opacity: 0;
		transform: translate3D(0, 600px, 0px);
	}
	.comp-text-animacao-init {
		opacity: 1;
		transform: translate3D(0px, 0px, 0px);
		transition: 10s all ease;
	}

	
	// ANIMAÇÃO DA COMPOSIÇÃO 2
	.comp2-animacao {
		opacity: 0;
		transform: translate3D(-600px, 0px, 0px);
	}
	.comp22-animacao {
		opacity: 0;
		transform: translate3D(600px, 0px, 0px);
	}
	.comp2-animacao-init {
		opacity: 1;
		transform: translate3D(0px, 0px, 0px);
		transition: 10s all ease;
	}

	.comp2-text-animacao {
		opacity: 0;
		transform: translate3D(0, 500px, 0px);
	}
	.comp2-text-animacao-init {
		opacity: 1;
		transform: translate3D(0px, 0px, 0px);
		transition: 10s all ease;
	}

	// ANIMAÇÃO DA COMPOSIÇÃO 3
	.comp3-animacao {
		opacity: 0;
		transform: translate3D(-600px, 0px, 0px);
	}
	.comp32-animacao {
		opacity: 0;
		transform: translate3D(600px, 0px, 0px);
	}
	.comp33-animacao {
		opacity: 0;
		transform: translate3D(700px, 0px, 0px);
	}
	.comp3-animacao-init {
		opacity: 1;
		transform: translate3D(0px, 0px, 0px);
		transition: 10s all ease;
	}

	.comp3-text-animacao {
		opacity: 0;
		transform: translate3D(0, 500px, 0px);
	}
	.comp3-text-animacao-init {
		opacity: 1;
		transform: translate3D(0px, 0px, 0px);
		transition: 10s all ease;
	}

	// ANIMAÇÃO DA COMPOSIÇÃO 4
	.comp4-animacao {
		opacity: 0;
		transform: translate3D(-600px, 0px, 0px);
	}
	.comp42-animacao {
		opacity: 0;
		transform: translate3D(-600px, 0px, 0px);
	}
	.comp43-animacao {
		opacity: 0;
		transform: translate3D(600px, 0px, 0px);
	}
	.comp44-animacao {
		opacity: 0;
		transform: translate3D(600px, 0px, 0px);
	}
	.comp4-animacao-init {
		opacity: 1;
		transform: translate3D(0px, 0px, 0px);
		transition: 15s all ease;
	}

	.comp4-text-animacao {
		opacity: 0;
		transform: translate3D(0, 400px, 0px);
	}
	.comp4-text-animacao-init {
		opacity: 1;
		transform: translate3D(0px, 0px, 0px);
		transition: 10s all ease;
	}

	// ANIMAÇÃO DA COMPOSIÇÃO 5
	.comp5-animacao {
		opacity: 0;
		transform: translate3D(-600px, 0px, 0px);
	}
	.comp52-animacao {
		opacity: 0;
		transform: translate3D(600px, 0px, 0px);
	}
	.comp53-animacao {
		opacity: 0;
		transform: translate3D(700px, 0px, 0px);
	}
	.comp54-animacao {
		opacity: 0;
		transform: translate3D(-600px, 0px, 0px);
	}
	.comp5-animacao-init {
		opacity: 1;
		transform: translate3D(0px, 0px, 0px);
		transition: 10s all ease;
	}

	.comp5-text-animacao {
		opacity: 0;
		transform: translate3D(0, 500px, 0px);
	}
	.comp5-text-animacao-init {
		opacity: 1;
		transform: translate3D(0px, 0px, 0px);
		transition: 10s all ease;
		transform: rotate(90deg);
	}
	
	// ANIMAÇÃO DA COMPOSIÇÃO 6
	.comp6-animacao {
		opacity: 0;
		transform: translate3D(-600px, 0px, 0px);
	}
	.comp62-animacao {
		opacity: 0;
		transform: translate3D(-600px, 0px, 0px);
	}
	.comp63-animacao {
		opacity: 0;
		transform: translate3D(600px, 0px, 0px);
	}
	.comp64-animacao {
		opacity: 0;
		transform: translate3D(600px, 0px, 0px);
	}
	.comp6-animacao-init {
		opacity: 1;
		transform: translate3D(0px, 0px, 0px);
		transition: 15s all ease;
	}

	.comp6-text-animacao {
		opacity: 0;
		transform: translate3D(0, 400px, 0px);
	}
	.comp6-text-animacao-init {
		opacity: 1;
		transform: translate3D(0px, 0px, 0px);
		transition: 10s all ease;
	}

	// ANIMAÇÃO DA COMPOSIÇÃO 7
	.comp7-animacao {
		opacity: 0;
		transform: translate3D(-600px, 0px, 0px);
	}
	.comp72-animacao {
		opacity: 0;
		transform: translate3D(800px, 0px, 0px);
	}
	.comp73-animacao {
		opacity: 0;
		transform: translate3D(600px, 0px, 0px);
	}
	.comp7-animacao-init {
		opacity: 1;
		transform: translate3D(0px, 0px, 0px);
		transition: 10s all ease;
	}

	.comp7-text-animacao {
		opacity: 0;
		transform: translate3D(0, 500px, 0px);
	}
	.comp7-text-animacao-init {
		opacity: 1;
		transform: translate3D(0px, 0px, 0px);
		transition: 10s all ease;
	}

	// ANIMAÇÃO DA COMPOSIÇÃO 8
	.comp8-animacao {
		opacity: 0;
		transform: translate3D(500px, 0px, 0px);
	}
	.comp8-animacao-init {
		opacity: 1;
		transform: translate3D(0px, 0px, 0px);
		transition: 10s all ease;
	}

	.comp8-text-animacao {
		opacity: 0;
		transform: translate3D(0, 500px, 0px);
	}
	.comp8-text-animacao-init {
		opacity: 1;
		transform: translate3D(0px, 0px, 0px);
		transition: 10s all ease;
	}

}


.rotated {
	transform: rotate(90deg);
	/* Equal to rotateZ(45deg) */
}

// COMPOSIÇÃO 1
#comp_1 {
	@include comp_sizes(50%, none)
}

#comp_txt_1 {
	@include comp_text(7rem, absolute, 35.3%, 36%, 9999999, none);
}

// COMPOSIÇÃO 2
#comp_2 {
	@include comp_sizes(18%, none);
	@include comp_position(absolute, 112%, 32.2%)
}

#comp_2_2 {
	@include comp_sizes(22%, none);
	@include comp_position(absolute, 100%, 50%)
}

#comp_txt_2 {
	@include comp_text(7rem, absolute, 137.5%, 40%, 9999999, none);
}

// COMPOSIÇÃO 3
#comp_3 {
	@include comp_sizes(32%, fadeIn ease 10s);
	@include comp_position(absolute, 223%, 24%)
}

#comp_3_2 {
	@include comp_sizes(24%, fadeIn ease 10s);
	@include comp_position(absolute, 213%, 56%)
}

#comp_3_3 {
	@include comp_sizes(20%, fadeIn ease 10s);
	@include comp_position(absolute, 258%, 49%)
}

#comp_txt_3 {
	@include comp_text(7rem, absolute, 249%, 37%, 9999999, fadeIn ease 15s);
}


// COMPOSIÇÃO 4
#comp_4 {
	@include comp_sizes(30%, fadeIn ease 10s);
	@include comp_position(absolute, 336%, 36%)
}

#comp_4_2 {
	@include comp_sizes(18%, fadeIn ease 10s);
	@include comp_position(absolute, 364%, 23%)
}

#comp_4_3 {
	@include comp_sizes(30%, fadeIn ease 10s);
	@include comp_position(absolute, 326%, 28%)
}

#comp_4_4 {
	@include comp_sizes(30%, fadeIn ease 10s);
	@include comp_position(absolute, 356%, 57%)
}

#comp_txt_4 {
	@include comp_text(7rem, absolute, 368%, 34%, 9999999, fadeIn ease 15s);
}

// COMPOSIÇÃO 5
#comp_5 {
	@include comp_sizes(20%, fadeIn ease 10s);
	@include comp_position(absolute, 452%, 46%)
}

#comp_5_2 {
	@include comp_sizes(20%, fadeIn ease 10s);
	@include comp_position(absolute, 456%, 26%)
}

#comp_5_3 {
	@include comp_sizes(15%, fadeIn ease 10s);
	@include comp_position(absolute, 431%, 32%)
}

#comp_5_4 {
	@include comp_sizes(11%, fadeIn ease 10s);
	@include comp_position(absolute, 460.7%, 39%)
}

#comp_txt_5 {
	@include comp_text(7rem, absolute, 482%, 43%, 9999999, fadeIn ease 15s);
}

// COMPOSIÇÃO 6
#comp_6 {
	@include comp_sizes(14%, fadeIn ease 10s);
	@include comp_position(absolute, 565%, 38%)
}

#comp_6_2 {
	@include comp_sizes(14%, fadeIn ease 10s);
	@include comp_position(absolute, 557%, 52%)
}

#comp_6_3 {
	@include comp_sizes(15%, fadeIn ease 10s);
	@include comp_position(absolute, 546%, 43%)
}

#comp_6_4 {
	@include comp_sizes(22%, fadeIn ease 10s);
	@include comp_position(absolute, 605%, 24.5%)
}

#comp_txt_6 {
	@include comp_text(7rem, absolute, 571%, 37%, 9999999, fadeIn ease 15s);
}

// COMPOSIÇÃO 7
#comp_7 {
	@include comp_sizes(35%, fadeIn ease 10s);
	@include comp_position(absolute, 662%, 35%)
}

#comp_7_2 {
	@include comp_sizes(24%, fadeIn ease 10s);
	@include comp_position(absolute, 703.3%, 41%)
}

#comp_7_3 {
	@include comp_sizes(18%, fadeIn ease 10s);
	@include comp_position(absolute, 660%, 39%)
}

#comp_txt_7 {
	@include comp_text(7rem, absolute, 699%, 43%, 9999999, fadeIn ease 15s);
}

// COMPOSIÇÃO 8
#comp_8 {
	@include comp_sizes(50%, none);
	@include comp_position(absolute, 755%, 28%)
}

#comp_txt_8 {
	@include comp_text(7rem, absolute, 784%, 38.3%, 9999999, fadeIn ease 15s);
}

// COMPOSIÇÃO 9
#comp_9 {
	@include comp_sizes(35%, fadeIn ease 10s);
	@include comp_position(absolute, 860%, 35%)
}
